
.card-direction {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  padding: 27px 25px 21px;
}

.card-direction__title {
  @include reset-margin-padding;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.card-direction__flag {
  position: absolute;
  top: -12px;
}

.card-direction__slogan {
  @include reset-margin-padding;
  width: 100%;
  order: 2;
  color: rgba($grey, 0.3);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.card-direction__visitors {
  position: relative;
  color: rgba($grey, 0.3);
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.card-direction__visitors-img {
  position: absolute;
  top: 3px;
  left: -18px;
  width: 12px;
  height: 12px;
  opacity: 0.1;
}

@media (min-width: $tablet-width) {
  .card-direction {
    display: block;
    padding: 31px 28px 15px 31px;
  }

  .card-direction__flag {
    position: absolute;
    top: 16px;
    right: -36px;
    width: 70px;
    height: 47px;
  }

  .card-direction__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 5px;
  }

  .card-direction__slogan {
    font-size: 20px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 16px;
  }

  .card-direction__visitors {
    padding-left: 30px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
  }

  .card-direction__visitors-img {
    top: 1px;
    left: 2px;
    width: 20px;
    height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .card-direction {
    padding-top: 25px;
  }

  .card-direction__slogan {
    margin-bottom: 22px;
  }

  .card-direction__flag {
    top: 24px;
  }
}
