.directions {
  position: relative;
  z-index: 15;
  background-color: $coconut;
  border-radius: 0 0 30px 30px;
  margin-bottom: -60px;
}

.directions__container {
  padding: 102px 25px 109px;
}

.directions__text-box {
  margin-left: 25px;
  margin-bottom: 60px;
}


.directions__title {
  @include section-title;
  margin-bottom: 19px;
}

.directions__description {
  @include reset-margin-padding;
  @include section-text;
  width: 195px;
}

.directions__list {
  @include reset-list;
}

.directions__item {
  margin-bottom: 10px;
}

.directions__item-title {
  @include reset-margin-padding;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.directions__item-picture {
  width: 100%;
}

.directions__item-img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.directions__item-wrapper {
  position: relative;
  margin-top: -17px;

  border-radius: 10px;
  background-color: #ffffff;
}

.directions__slogan {
  color: $grey;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.directions__visitors {
  color: $grey;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}

.directions__show-all {
  position: absolute;
  bottom: 29px;
  left: 25px;
  width: calc(100% - 50px);
}

@media (min-width: $tablet-width) {
  .directions {
    border-radius: 0 0 60px 60px;
  }

  .directions__container {
    padding: 102px 60px 197px 34px;
    background-image: url("../../img/flags-back@1x.png");
    background-repeat: no-repeat;
    background-position: right 36px top 113px;
    background-size: 38%;
  }

  .directions__title {
    margin-bottom: 59px;
  }

  .directions__text-box {
    margin-left: 40px;
    margin-bottom: 65px;
  }

  .directions__description {
    width: 339px;
  }

  .directions__list {
    position: relative;
    z-index: 5;
    padding: 40px 15px 0 40px;
  }

  .directions__list::before {
    content: "";
    position: absolute;
    top: 0;
    left: 6px;
    width: 141px;
    height: 141px;
    border-radius: 20px;
    background-color: #e2e5f2;
  }

  .directions__item {
    display: flex;
  }

  .directions__item-picture {
    display: block;
    width: 186px;
    order: 2;
  }

  .directions__item-img {
    display: block;
    border-radius: 0 20px 20px 0;
  }

  .directions__item-wrapper {
    flex-grow: 1;
    margin-top: 0;
    border-radius: 20px 0 0 20px;
  }

  .directions__show-all {
    position: absolute;
    display: block;
    bottom: 85px;
    left: 75px;
    width: calc(100% - 150px);
    padding: 10px 0 0 34px;
    line-height: 68px;
  }
}

@media (min-width: $desktop-width) {
  .directions__container {
    padding: 191px 60px 75px 130px;
    background-image: url("../../img/flags-back@1x.png");
    background-repeat: no-repeat;
    background-position: right 60px top 120px;
    background-size: 20%;
  }

  .directions__wrapper {
    display: flex;
    padding: 0;
  }

  .directions__text-box {
    order: 2;
    margin-top: 5px;
  }

  .directions__list {
    box-sizing: border-box;
    width: 560px;
    padding: 0;
    margin-right: 131px;
  }

  .directions__show-all {
    position: relative;
    left: auto;
    bottom: auto;
    width: 274px;
    padding: 6px 0 4px 37px;
  }

  .directions__description {
    margin-bottom: 98px;
  }

  .directions__list::before {
    top: -68px;
    left: -70px;
  }
}
