.level {
  position: relative;
  text-align: center;
  box-sizing: border-box;
  height: 45px;
  width: 45px;
  color: #1d2e5b;
  font-size: 24px;
  font-weight: 700;
  line-height: 47px;
  border-radius: 50%;
  border: 2px solid $orange;
}

.level::after {
  content: "level";
  position: absolute;
  display: none;
  top: 34px;
  left: 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  border-top: 1px solid;
}

.level--big {
  width: 100px;
  height: 100px;
  font-size: 38px;
  font-weight: 700;
  line-height: 86px;
}

.level--big::after {
  display: block;
  top: 58px;
  left: 30px;
  color: #444444;
  font-size: 18px;
  font-weight: 400;
  line-height: 22.17px;
}

.level--black {
  color: #ffffff;
  position: relative;
  height: 60px;
  width: 60px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}

.level--black::after {
  display: block;
}

@media (min-width: $tablet-width) {
  .level {
    position: relative;
    height: 60px;
    width: 60px;
    border: 3px solid #ff8d30;
  }

  .level::after {
    display: block;
  }

  .level--big {
    width: 94px;
    height: 94px;
    font-size: 38px;
    font-weight: 700;
    line-height: 77px;
  }

  .level--big::after {
    display: block;
    top: 56px;
    left: 28px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.17px;
  }
}

@media (min-width: $desktop-width) {
  .level--big {
    color: #ffffff
  }

  .level--big::after {
    color: #ffffff
  }
}
