.navigation {
  width: 100%;
  box-sizing: border-box;
  margin: 64px 0 50px;
}

.navigation__social {
  margin-top: 42px;
  padding-left: 0;
}

@media (min-width: $tablet-width) {
  .navigation {
    box-sizing: border-box;
    margin-top: 90px;
    margin-bottom: 113px;
    margin-left: 41px;
  }
}

@media (min-width: $desktop-width) {
  .navigation {
    position: static;
    background-color: transparent;
    padding: 0;
    color: #ffffff;
    margin-bottom: 0;
  }

  .navigation__site {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
  }
}
