.profile {
  position: relative;
  z-index: 5;
  padding-top: 82px;
  padding-bottom: 36px;
  margin-bottom: -50px;
  box-sizing: border-box;

  border-radius: 0 0 30px 30px;
  background-color: $coconut;
}

.profile__container {
  position: relative;
}

.profile__price-list {
  @include reset-list;
  margin-bottom: 28px;
  margin-left: 25px;
}

.profile__title {
  @include section-title;
  width: 100px;
  margin-left: 25px;
  margin-bottom: 42px;
}

.profile__price-number {
  font-size: 16px;
  font-weight: 400;
  line-height: 14px;
  color: #ffffff;
}

.profile___modal-link {
  margin-left: 25px;
  color: #192144;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-decoration: none;
}

.profile___modal-link:hover svg,
.profile___modal-link:hover span {
  opacity: 0.7;
}

.profile___modal-link:active svg,
.profile___modal-link:active span {
  opacity: 0.3;
}

.profile___modal-img {
  display: none;
}

.profile__price-item {
  @include section-text;
  position: relative;
}

.profile__price-item:last-child .profile__price-wrapper {
  border-bottom: 1px solid #e1e3ea;
}

.profile__price-wrapper {
  width: 80%;
  border-bottom: 1px solid #e1e3ea;
  padding-top: 11px;
  padding-bottom: 10px;
}

.profile__price-item::after {
  position: absolute;
  top: 5px;
  right: 0;
  width: 34px;
  height: 34px;
  content: attr(data-id);
  text-align: center;
  color: #ffffff;
  border-radius: 50%;
  line-height: 34px;
  background-color: #ffa530;
}

.profile__price-item:nth-child(2)::after {
  background-color: #ffbd30;
}

.profile__price-item:nth-child(3)::after {
  background-color: #ffd74b;
}

.profile__price-description {
  @include reset-margin-padding;
}

.profile__price-amount {
  @include reset-margin-padding;
}

.profile__image {
  position: absolute;
  top: -15px;
  right: 25px;
}

@media (min-width: $tablet-width) {
  .profile {
    padding: 105px 34px 84px 80px;
    border-radius: 0 0 60px 60px;
    margin-bottom: -60px;
  }

  .profile__wrapper {
    position: relative;
  }

  .profile__image {
    z-index: 2;
    top: auto;
    bottom: -118px;
    right: 11px;
  }

  .profile__price-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0;
    padding: 16px 34px 16px 0;
    border-bottom: 1px solid #e1e3ea;
  }

  .profile__price-item:first-child .profile__price-wrapper {
    border-top: 1px solid #e1e3ea;
    border-bottom: 1px solid #e1e3ea;
  }

  .profile__price-list {
    position: relative;
    z-index: 2;
    margin-bottom: 59px;
    margin-left: 10px;
  }

  .profile__price-list::before {
    content: "";
    position: absolute;
    top: -40px;
    right: -35px;
    width: 198px;
    height: calc(100% + 84px);
    border-radius: 20px;
    background-color: #e2e5f2;
  }

  .profile__price-item {
    margin-top: 0;
    padding-top: 0;
  }

  .profile__price-item::after {
    position: absolute;
    content: attr(data-id);
    width: 67px;
    height: 67px;
    top: 0;
    right: auto;
    left: -90px;
    line-height: 67px;
  }

  .profile__title {
    width: auto;
    margin-bottom: 71px;
    margin-left: 19px;
  }

  .profile___modal-link {
    position: relative;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    margin-left: 9px;
  }

  .profile___modal-link::after {
    content: "";
    position: absolute;
    width: 67px;
    height: 67px;
    top: -24px;
    right: auto;
    left: -90px;
    line-height: 67px;
    border-radius: 50%;
    background-color: #e2e5f2;
  }

  .profile___modal-img {
    display: block;
    position: absolute;
    z-index: 2;
    width: 75px;
    top: -4px;
    right: auto;
    left: -67px;
    line-height: 67px;
    color: #132576;
  }
}

@media (min-width: $desktop-width) {
  .profile {
    padding: 138px 175px 185px 150px;
    min-height: 750px;
  }

  .profile__title {
    margin-bottom: 132px;
    margin-left: 25px;
    text-align: center;
  }

  .profile__wrapper {
    padding-right: 170px;
  }

  .profile__image {
    top: auto;
    width: 198px;
    height: 198px;
    bottom: 0;
    right: -100px;
  }

  .profile__price-list::before {
    top: -50px;
    right: -160px;
    width: 445px;
    height: calc(100% + 100px);
  }
}
