.site-footer {
  position: relative;
  margin-top: -32px;

  border-radius: 30px;
  background-color: #ffffff;
}

.site-footer__container {
  padding: 38px 25px 15px;
  display: flex;
  flex-direction: column;
}

.site-footer__logo {
  align-self: center;
  margin-bottom: 38px;
}

.site-footer__logo-img {
  display: block;
}

.site-footer__copyright-text {
  margin: 0;
  color: $grey;
  font-weight: 400;
}

.site-footer__social-list {
  @include reset-list;
  display: flex;
  align-self: center;
  min-height: 45px;
  margin-bottom: 36px;
}

.site-footer__copyright {
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
  padding-top: 13px;
  text-decoration: none;
  border-top: 1px solid #f2f2f2;
}

.site-footer__copyright:hover {
  opacity: 0.6;
}

.site-footer__copyright:active {
  opacity: 0.3;
}

.social-footer__link {
  position: relative;
  display: flex;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $yellow;
}

.social-footer__link:hover {
  background-color: #ffbd30;
}

.social-footer__link:active .social-footer__img {
  opacity: 0.3;
}

.social-footer__img {
  display: block;
  margin: auto;
  top: 18px;
  right: 12px;
}

@media (min-width: $tablet-width) {
  .site-footer {
    margin-top: -60px;

    border-radius: 60px 60px 0 0;
    background-color: #ffffff;
  }

  .site-footer__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 47px 40px;
  }

  .site-footer__logo {
    margin-bottom: 0;
  }

  .site-footer__social-list {
    margin-bottom: 0;
  }

  .site-footer__copyright-text {
    margin-top: -6px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-right: 25px;
    padding-left: 10px;
  }

  .site-footer__copyright {
    border-top: none;
    text-decoration: none;
    padding-top: 0;
  }

  .social-footer__link {
    width: 60px;
    height: 60px;
  }

  .social-footer__img--fb {
    width: 14px;
    height: 28px;
  }

  .social-footer__img--vk {
    width: 31px;
    height: 16px;
  }

  .social-footer__img--instagram {
    width: 24px;
    height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .site-footer__container {
    padding: 50px 60px;
  }

  .site-footer__social-list {
    margin-bottom: 0;
    padding-left: 0;
    margin-left: -34px;
  }

  .site-footer__logo-img {
    display: block;
    width: 198px;
  }
}
