.site-header {
  padding-top: 27px;
  padding-bottom: 23px;
}

.site-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.site-header__navigation--close {
  display: none;
}

.site-header__toggle {
  display: none;
  width: 26px;
  height: 12px;
  margin-left: 21px;
}

.site-header__logo-white {
  display: none;
}

.site-header__contacts {
  margin-bottom: 26px;
  list-style: none;
  padding: 0;
}

.site-header__contacts-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 45px;
  height: 45px;
  background-color: $midnight;
  border-radius: 50%;
}

.site-header__contacts-img {
  margin: auto;
  fill: $yellow;
  width: 18px;
  height: 18px;
}

.site-header__contacts a {
  position: relative;
  display: block;
  color: #192144;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  padding: 13px 10px 10px 61px;
  text-transform: uppercase;
  text-decoration: none;
}

.site-header__auth {
  display: none;
}

.site-header .actions__link {
  display: none;
}

.site-header__actions {
  width: 100%;
  margin-bottom: 33px;
}

.site-header .actions__auth {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 20px 8px;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  color: #192144;
  background-color: $yellow;
  border-radius: 25px;
  text-transform: uppercase;
  text-decoration: none;
}

.social-header__img {
  opacity: 0.3;
}

.site-header__toggle--open {
  display: block;
  background-image: url("../../img/menu.svg");
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
}

.site-header__toggle--close {
  display: block;
  width: 22px;
  height: 19px;
  background-image: url("../../img/menu-close.svg");
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
}


.site-header--closed {
  background-color: $midnight;

  & .site-header__logo-blue {
    display: none;
  }

  & .site-header__logo-white {
    display: block;
  }

  & .site-header__navigation {
    display: none;
  }

  & .site-header__contacts {
    display: none;
  }

  & .site-header__social {
    display: none;
  }

  & .site-header__actions {
    display: none;
  }

  & .actions__auth {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .site-header {
    padding-top: 42px;
    padding-bottom: 73px;
  }

  .site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .site-header__contacts {
    margin-bottom: 117px;
    order: 5;
  }

  .site-header__contacts a {
    margin-left: 58px;
    padding: 23px 10px 16px 89px;
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;
  }

  .site-header .actions__auth {
    width: 188px;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
  }

  .site-header__actions {
    order: 3;
    width: 188px;
    margin-bottom: 0;
  }

  .site-header__navigation {
    order: 4;
  }

  .site-header__social {
    order: 6;
  }

  .site-header__contacts-wrapper {
    width: 68px;
    height: 68px;
    background-color: $midnight;
    border-radius: 50%;
  }

  .site-header__contacts-img {
    width: 27px;
    height: 27px;
  }

  .site-header--closed {
    padding-bottom: 27px;
    background-color: #182044;

    &.site-header--inner {
      background-color: $midnight;
    }

    & .site-header__actions {
      display: block;
    }

    & .actions__auth {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-header {
    padding-top: 47px;
    background: $midnight;
  }

  .site-header__wrapper {
    justify-content: flex-start;
  }

  .site-header__logo-white {
    margin-right: 40px;
  }

  .site-header .site-header__navigation {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: auto;
    margin: auto 0;
    padding-left: 106px;
  }

  .site-header__navigation::before {
    position: absolute;
    top: 12px;
    left: 0;
    content: "";
    width: 60px;
    height: 2px;
    background-color: #ffffff;
  }

  .site-header__actions {
    display: block;
    margin-left: auto;
    width: auto;
  }

  .site-header .actions__link {
    display: flex;
  }

  .site-header__toggle {
    display: none;
  }

  .site-header__contacts {
    display: none;
  }

  .site-header__navigation {
    order: 2;
  }

  .site-header--closed .site-header__actions {
    display: flex;
  }
}
