.site-navigation {
  @include reset-list;
}

.site-navigation__link {
  color: #192144;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
}
