.social-navigation {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-navigation__link {
  display: block;
  height: 23px;
  width: 23px;
  background-color: black;
  border-radius: 50%;
}

.social-navigation__item:not(:last-child) {
  margin-right: 22px;
}

@media (min-width: $tablet-width) {
  .social-navigation {
    justify-content: flex-start;
    padding-left: 16px;
  }

  .social-navigation__link {
    display: block;
    height: 28px;
    width: 31px;
  }

  .social-navigation__item:not(:last-child) {
    margin-right: 29px;
  }
}
