.title {
  position: relative;
  z-index: 1;
  margin-bottom: -30px;
  padding-top: 0;
  background-color: $midnight;
  border-radius: 0 0 20px 20px;
}

.title__container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.title__text {
  position: relative;
  margin: 32px 0 -2px;
  padding: 0 0 5px;
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  color: #ffffff;
  border-bottom: 6px solid #ff8d30;
}

.title__link {
  display: none;
}

@media (min-width: $tablet-width) {
  .title {
    margin-bottom: -60px;
    border-radius: 0 0 60px 60px;
  }

  .title__container {
    padding: 46px 136px 0 73px;
    align-items: center;
  }

  .title__text {
    margin-top: 43px;
    font-size: 60px;
    font-weight: 700;
    line-height: 95px;
    padding: 0 0 46px;
  }

  .title__link {
    position: relative;
    color: #ffffff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: -60px;
      width: 32px;
      height: 16px;
      background-image: url("../img/return.svg");
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: $desktop-width) {
  .title {
    border-radius: 0 0 60px 60px;
  }

  .title__container {
    padding: 34px 185px 0 120px;
    align-items: center;
  }

  .title__text {
    margin-top: 0;
    padding: 65px 7px 65px;
    font-size: 60px;
    font-weight: 700;
    line-height: 55px;
  }
}
