.travelmates-filter {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto 29px;
  padding: 26px 26px 25px 25px;
  border-radius: 20px;
  background-color: #ffd74b;
}

.travelmates-filter__title {
  margin-top: 0;
  margin-bottom: 21px;
  font-size: 22px;
  font-weight: 700;
  line-height: 22.49px;
}

.travelmates-filter__fieldset-wrapper {
  display: flex;
}

.travelmates-filter__fieldset--hidden .travelmates-filter__fieldset-wrapper {
  display: none;
}

.travelmates-filter__fieldset--hidden .travelmates-filter__fieldset-title {
  margin-bottom: 5px;
}

.travelmates-filter__fieldset {
  margin-bottom: 9px;
  padding-top: 12px;
  border-top: 1px solid #f3c72b;
}

.travelmates-filter__fieldset-title {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.travelmates-filter__fieldset-label {
  position: relative;
  display: block;
  padding-left: 26px;
  margin-bottom: 8px;
}

.travelmates-filter__checkbox-fake {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  background-color: #ffffff;
}

.travelmates-filter__checkbox:checked ~ .travelmates-filter__checkbox-fake {
  background-color: red;
}

.travelmates-filter__transport-wrapper {
  display: flex;
  margin-top: 14px;
  margin-bottom: 18px;
}

.travelmates-filter__transport-label {
  display: block;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: #ffffff;
}

.travelmates-filter__transport-fake {
  display: block;
  height: 100%;
  width: 100%;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.15;
}

.travelmates-filter__transport-checkbox:checked ~ .travelmates-filter__transport-fake {
  opacity: 1;
}

.travelmates-filter__transport-fake--plane {
  background-image: url("../../img/spr-plane.svg");
}

.travelmates-filter__transport-fake--bus {
  background-image: url("../../img/spr-bus.svg");
}

.travelmates-filter__transport-fake--bike {
  background-image: url("../../img/spr-bike.svg");
}

.travelmates-filter__transport-fake--run {
  background-image: url("../../img/spr-run.svg");
}

.travelmates-filter__level-values {
  position: relative;
  display: flex;
  box-sizing: border-box;
  margin-bottom: 19px;
}

.travelmates-filter__level-value {
  flex-grow: 1;
  width: 50%;
  padding: 13px 0;
  background-color: #ffffff;
  text-align: center;
  border: 1px solid #cbced9;
}

.travelmates-filter__level-values::before {
  content: "";
  position: absolute;
  top: 11px;
  left: calc(50% - 10px);
  width: 20px;
  height: 10px;
  background-color: #ffffff;
}

.travelmates-filter__level-values::after {
  content: "";
  position: absolute;
  top: 16px;
  left: calc(50% - 10px);
  width: 16px;
  height: 1px;
  background-color: #cbced9;
}

.travelmates-filter__level-value--from {
  border-radius: 4px 0 0 4px;
  margin-right: -1px;
}

.travelmates-filter__level-value--to {
  border-radius: 0 4px 4px 0;
}

.travelmates-filter__level-range {
  position: relative;
  height: 10px;
  margin-bottom: 17px;
}

.travelmates-filter__level-range::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #1d2e5b;
  opacity: 0.2;
}

.travelmates-filter__level-range::after {
  content: "";
  position: absolute;
  top: 4px;
  left: auto;
  right: 0;
  width: 69%;
  height: 2px;
  background-color: #1d2e5b;
}

.travelmates-filter__level-toggle {
  content: "";
  position: absolute;
  top: 0;
  left: 31%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #1d2e5b;
}

.travelmates-filter__level-toggle--max {
  left: auto;
  right: 0;
}

@media (min-width: $tablet-width) {
  .travelmates-filter {
    width: 100%;
    margin-bottom: 40px;
    padding: 35px;
  }

  .travelmates-filter__title {
    margin-bottom: 38px;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
  }

  .travelmates-filter__fieldset {
    display: flex;
    align-items: baseline;
    margin-bottom: 17px;
    border-top: none;
    padding-top: 0;

    &:first-child {
      border-top: 1px solid #f3c72b;
      padding-top: 33px;
    }

    &:last-of-type {
      border-bottom: 1px solid #f3c72b;
      margin-bottom: 36px;
      padding-bottom: 36px;
    }
  }

  .travelmates-filter__fieldset-title {
    width: 20%;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin: 0;
  }

  .travelmates-filter__fieldset-wrapper {
    width: 150px;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
  }

  .travelmates-filter__fieldset-wrapper:not(:last-child) {
    margin-right: 22px;
  }

  .travelmates-filter__fieldset-label {
    padding-left: 36px;
  }

  .travelmates-filter__checkbox-fake {
    top: -2px;
    left: 1px;
    width: 24px;
    height: 24px;
  }

  .travelmates-filter__transport-wrapper {
    margin: 0;
  }

  .travelmates-filter__transport-label {
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background-color: #ffffff;
  }

  .travelmates-filter__level-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 28px;
  }

  .travelmates-filter__level-values {
    min-width: 150px;
    order: 2;
  }

  .travelmates-filter__level-value {
    font-size: 20px;
    font-weight: 500;
    line-height: 18px;
  }

  .travelmates-filter__fieldset--transport {
    align-items: center;
    margin-bottom: 13px;
  }

  .travelmates-filter__level-range {
    margin-bottom: 0;
    width: 283px;
  }

  .travelmates-filter__level-values {
    margin-bottom: 0;
  }

  .travelmates-filter__level-range::after {
    width: 73%;
  }

  .travelmates-filter__level-toggle {
    top: -4px;
    left: 24%;
    width: 15px;
    height: 15px;
  }
  .travelmates-filter__level-toggle--max {
    top: -4px;
    left: auto;
    width: 15px;
    height: 15px;
  }

  .travelmates-filter__level-values::after,
  .travelmates-filter__level-values::before {
    top: 14px;
    height: 16px;
  }
  .travelmates-filter__level-values::after {
    top: 21px;
    height: 1px;
    width: 21px;
  }
}
