.about {
  background-color: $midnight;
  background-image: url("../img/about-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.about__title {
  @include section-title;
}

.about__description {
  color: #ffffff;
  @include reset-margin-padding;
}

.about__resume {
  @include reset-margin-padding;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}
