.directions {
  background-color: $coconut;
}

.directions__title {
  @include section-title;
}

.directions__description {
  @include reset-margin-padding
}

.directions__item-title {
  color: $midnight;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.directions__slogan {
  color: $grey;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.directions__visitors {
  color: $grey;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}

.directions__wrapper {
  background-color: #ffffff;
}
