.people__list {
  @include reset-list;
}

.people__item {
  background-color: #ffffff;
  border-radius: 20px;
  margin-bottom: 10px;

  color: $grey;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
}

.card-people__name {
  @include reset-margin-padding;
  color: #1d2e5b;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}

.card-people__distance {
  color: #161c35;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
}

.card-people__counties-list {
  @include reset-list;
}

.card-people__country-name {
  color: #1d2e5b;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
}

.card-people__level {
  color: #1d2e5b;
  font-size: 24px;
  font-weight: 700;
  line-height: 18px;
}

.to-call {
  color: #161c36;
}
