.profile {
  background-color: $coconut;
}

.profile__title {
  @include section-title;
}

.profile__price-number {
  font-size: 16px;
  font-weight: 400;
  line-height: 14px;
  color: #ffffff;
}

.profile___modal-link {
  color: #192144;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-decoration: none;
}
