.steps {
  background-color: #ff8d30;
  @include reset-list;
}

.steps__item {
  @include reset-margin-padding;
  color: #161c35;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}

.steps__number {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}
