@mixin section-title {
  margin: 0;
  padding: 0;

  color: $orange;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
  }
}

@mixin section-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    font-weight: 300;
    line-height: 33px;
  }
}

@mixin reset-margin-padding {
  margin: 0;
  padding: 0;
}

@mixin reset-list {
  @include reset-margin-padding;
  list-style: none;
}
